# C++ build artifacts
cpp_inference/build

# ----------------------
# Python artifacts
# ----------------------
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

# Virtual Environment
venv/
env/
.env

# Git
.git
.gitignore

# ----------------------
# ML artifacts
# ----------------------
/data/
/models/
mlruns/        # MLflow local tracking
mlflow.db
outputs/

# ----------------------
# Testing
# ----------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db


# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Docker artifacts
# ----------------------
*.tar               
*.img  


